<div class="container">
  <div class="row">
    <div class="col-xs-12">
    <p>
      This is what I'm all about.
      <a href="" (click)="sendMeHome()">
        <strong>Take me back</strong>
      </a>.
    </p>
    
    <ul>
      <li *ngFor="let goal of goals">
        {{ goal }}
      </li>
    </ul>
<!--Author box-->
<div class="author-box">
  <!--Name-->
  <h3 class="h3-responsive text-center">About author</h3>
  <hr>
  <div class="row">
    <!--Avatar-->
    <div class="col-12 col-sm-2">
      <img src="http://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="img-fluid rounded-circle z-depth-2">
    </div>
    <!--Author Data-->
    <div class=" col-12 col-sm-10">
      <p>
        <strong>John Doe</strong>
      </p>
      <div class="personal-sm">
        <a class="email-ic">
          <i class="fa fa-home"> </i>
        </a>
        <a class="fb-ic">
          <i class="fa fa-facebook"> </i>
        </a>
        <a class="tw-ic">
          <i class="fa fa-twitter"> </i>
        </a>
        <a class="gplus-ic">
          <i class="fa fa-google-plus"> </i>
        </a>
        <a class="li-ic">
          <i class="fa fa-linkedin"> </i>
        </a>
        <a class="email-ic">
          <i class="fa fa-envelope-o"> </i>
        </a>
      </div>
      <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
      <p class="hidden-md-down">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint esse nulla quia quam veniam commodi dicta, iusto inventore.
        Voluptatum pariatur eveniet ea, officiis vitae praesentium beatae quas libero, esse facere.
      </p>
    </div>
  </div>
</div>
<!--/.Author box--></div>
</div>
</div>