<!-- Header -->
<header>
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark teal lighten-3 scrolling-navbar d-flex" [containerInside]="false">
    <logo class="nav navbar-nav m-auto flex-row order-1 text-center d-flex align-self-center d-lg-none">
      <a class="logo navbar-brand" routerLink="" mdbRippleRadius>
        <img class="navbar-brand" src="../assets/gigaher.svg" height="50" alt="logo" class="responsive">
        <strong style="font-family: Biloxi; font-size:2em">GigaHer</strong>
      </a>
    </logo>
    <links>
      <logo class="nav navbar-nav m-auto flex-row order-2 text-center d-flex align-self-center d-xs-none d-sm-none d-md-none d-lg-block">
        <a class="logo navbar-brand" routerLink="" mdbRippleRadius>
          <img class="navbar-brand" src="../assets/gigaher.svg" height="50" alt="logo" class="responsive">
          <strong style="font-family: Biloxi; font-size:2em">GigaHer</strong>
        </a>
      </logo>
      <ul class=" navbar-nav navbar-left m-auto order-1 align-self-start">
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link" routerLink="about/48">About</a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link" routerLink="blog">Blog</a>
        </li>
      </ul>
      <ul class="m-auto navbar-nav nav-flex-icons order-3 align-self-end">
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
            <i class="fa fa-user"></i>
            <span class="caret"></span>
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown" role="menu">
            <a class="dropdown-item waves-light" mdbRippleRadius href="#">Action</a>
            <a class="dropdown-item waves-light" mdbRippleRadius href="#">Another action</a>
            <a class="dropdown-item waves-light" mdbRippleRadius href="#">Something else here</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item waves-light" mdbRippleRadius href="#">Separated link</a>
          </div>
        </li>
      </ul>
    </links>
  </mdb-navbar>
</header>
<!-- Header -->

<!--Main layout-->
<main class="pt-5">
  <router-outlet></router-outlet>
</main>
<!-- Main End -->
<!--Footer-->
<footer class="page-footer font-small unique-color-dark pt-0">

  <div class="teal lighten-3">
    <div class="container">
      <!--Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!--Grid column-->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0 white-text">Get connected with us on social networks!</h6>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 col-lg-7 text-center text-md-right">
          <!--Facebook-->
          <a class="fb-ic ml-0">
            <i class="fa fa-facebook white-text mr-lg-4"> </i>
          </a>
          <!--Twitter-->
          <a class="tw-ic">
            <i class="fa fa-twitter white-text mr-lg-4"> </i>
          </a>
          <!--Google +-->
          <a class="gplus-ic">
            <i class="fa fa-google-plus white-text mr-lg-4"> </i>
          </a>
          <!--Linkedin-->
          <a class="li-ic">
            <i class="fa fa-linkedin white-text mr-lg-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fa fa-instagram white-text mr-lg-4"> </i>
          </a>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </div>
  </div>

</footer>
<!--/.Footer-->