<main class="pt-5 container">
<!--Section: Blog v.1-->
<section class="section pb-3 text-center text-lg-left">
  <!--Section heading-->
  <h1 class="section-heading h1 pt-4">Recent posts</h1>
  <!--Section description-->
  <p class="section-description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <!--Grid row-->
  <div class="row" *ngFor="let article of articles | async">

    <!--Grid column-->
    <div class="col-lg-5 col-xl-4 offset-xl-1 pb-3">
      <!--Featured image-->
      <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
        <img src="https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg" alt="Sample image for first version of blog listing">
        <a>
          <div class="mask"></div>
        </a>
      </div>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-7 col-xl-6">
      <!--Excerpt-->
      <a href="" class="green-text">
        <h6 class="font-bold pb-1">
          <i class="fa fa-cutlery"></i> {{article.category}}</h6>
      </a>
      <h4 class="mb-4">
        <strong>{{ article.title}}</strong>
      </h4>
      <p>{{article.body}}</p>
      <p>by
        <a>
          <strong>{{article.uid}}</strong>
        </a>, {{article.date_created}}</p>
      <a class="btn btn-success mb-3 waves-light" mdbRippleRadius>Read more</a>
    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

  <hr class="hr-width mb-5 mt-5 pb-3">



</section>
<!--Section: Blog v.1-->
</main>