/* You can add global styles to this file, and also import other style files */
body{
    padding-top:40px;
}

@font-face {
  font-family: "Biloxi";
  src: url(/assets/Biloxi_Script.woff);
}

@font-face {
  font-family: "Raleway";
  src: url(/assets/raleway_thin-webfont.woff);
}

