@import url("https://fonts.googleapis.com/css?family=Raleway:300,700");
.card .card-body h4 {
  font-family: "Raleway";
}

.card .card-body h4 {
  font-weight: 400;
}

p {
  font-weight: 400;
  font-size: 0.9rem;
}

h6 {
  font-weight: 400;
}

.font-small {
  font-size: 0.8rem;
}

.archive ul li {
  padding-top: 0.8rem;
  border-top: 1px solid #eceeef;
  padding-bottom: 0.3rem;
}

.spacing {
  letter-spacing: 2px;
}

.text-hover {
  color: #424242;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
