<main class="pt-5">
  <!--Intro-->
  <section>
    <div class="container-fluid">
      <img src="https://mdbootstrap.com/img/Photos/Others/nature3.jpg" class="img-fluid" alt="First sample image">
      <!--Excerpt-->
      <h1 class="text-center dark-grey-text pb-3">
        <strong>DOMS'S</strong> BLOG</h1>

      <p class="grey-text text-center mb-4 font-up spacing">Welcome to my blog. </p>

      <!--Grid row-->
      <div class="row flex-center">

        <!--Grid column-->
        <div class="col-md-10 col-xl-5">
          <p class="grey-text text-center">
            <em>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
              corrupti quos dolores.Nemo enim ipsam voluptatem quia voluptas. Nemo enim ipsam voluptatem quia voluptas sit
              aspernatur."</em>
          </p>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </section>
  <!--/Intro-->

  <!--Blog section-->
  <section>
    <div class="container">

      <hr class="my-5">
      <!--Blog-->
      <div class="row mt-5 pt-3">

        <!--Main listing-->
        <div class="col-lg-12 col-12 mt-1">

          <!--Section: Blog v.3-->
          <section class="section extra-margins pb-3 text-center text-lg-left">

            <!--Grid row-->
            <div class="row text-center">

              <!--Grid column-->
              <div class="col-md-6 mb-r">
                <!--Featured image-->
                <div class="view overlay hm-white-slight z-depth-1 mb-2">
                  <img src="https://mdbootstrap.com/img/Photos/Others/photo12.jpg" alt="Second sample image">
                  <a>
                    <div class="mask waves-effect waves-light"></div>
                  </a>
                </div>

                <!--Excerpt-->
                <a href="" class="teal-text text-center font-up font-small">
                </a>
                <h6 class="mb-3 mt-3 font-bold ">
                  <a href="" class="teal-text text-center font-up font-small">Travel
                  </a>
                  <a class="grey-text font-small"> - 14.09.2018</a>
                </h6>

                <h4 class="mb-3 font-up font-bold dark-grey-text spacing">
                  <strong>title of the news</strong>
                </h4>
                <p class="text-justify dark-grey-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                  atque corrupti quos dolores.Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                  quia consequuntur magni dolores eos qui ratione voluptatem.
                </p>

                <hr class="pb-0 mb-0">

                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-twitter grey-text"></i>
                </a>
                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-google-plus grey-text"></i>
                </a>
                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-linkedin grey-text"></i>
                </a>
                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-instagram grey-text"></i>
                </a>

                <hr class="pt-0 mt-0">
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-6 mb-r">
                <!--Featured image-->
                <div class="view overlay hm-white-slight z-depth-1 mb-2">
                  <img src="https://mdbootstrap.com/img/Photos/Others/photo3.jpg" alt="Thrid sample image">
                  <a>
                    <div class="mask waves-effect waves-light"></div>
                  </a>
                </div>

                <!--Excerpt-->
                <a href="" class="teal-text text-center font-up font-small">
                </a>
                <h6 class="mb-3 mt-3 font-bold ">
                  <a href="" class="teal-text text-center font-up font-small">Travel
                  </a>
                  <a class="grey-text font-small"> - 14.09.2018</a>
                </h6>

                <h4 class="mb-3 font-up font-bold dark-grey-text spacing">
                  <strong>title of the news</strong>
                </h4>
                <p class="text-justify dark-grey-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                  atque corrupti quos dolores.Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                  quia consequuntur magni dolores eos qui ratione voluptatem.
                </p>

                <hr class="pb-0 mb-0">

                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-twitter grey-text"></i>
                </a>
                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-google-plus grey-text"></i>
                </a>
                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-linkedin grey-text"></i>
                </a>
                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-instagram grey-text"></i>
                </a>

                <hr class="pt-0 mt-0">
              </div>
              <!--Grid column-->

            </div>
            <!--/Grid row-->

            <!--Grid row-->
            <div class="row text-center">

              <!--Grid column-->
              <div class="col-md-6 mb-r">
                <!--Featured image-->
                <div class="view overlay hm-white-slight z-depth-1 mb-2">
                  <img src="https://mdbootstrap.com/img/Photos/Others/photo13.jpg" alt="Second sample image">
                  <a>
                    <div class="mask waves-effect waves-light"></div>
                  </a>
                </div>

                <!--Excerpt-->
                <a href="" class="teal-text text-center font-up font-small">
                </a>
                <h6 class="mb-3 mt-3 font-bold ">
                  <a href="" class="teal-text text-center font-up font-small">Travel
                  </a>
                  <a class="grey-text font-small"> - 14.09.2018</a>
                </h6>

                <h4 class="mb-3 font-up font-bold dark-grey-text spacing">
                  <strong>title of the news</strong>
                </h4>
                <p class="text-justify dark-grey-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                  atque corrupti quos dolores.Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                  quia consequuntur magni dolores eos qui ratione voluptatem.
                </p>

                <hr class="pb-0 mb-0">

                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-twitter grey-text"></i>
                </a>
                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-google-plus grey-text"></i>
                </a>
                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-linkedin grey-text"></i>
                </a>
                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-instagram grey-text"></i>
                </a>

                <hr class="pt-0 mt-0">
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-6 mb-r">
                <!--Featured image-->
                <div class="view overlay hm-white-slight z-depth-1 mb-2">
                  <img src="https://mdbootstrap.com/img/Photos/Others/photo15.jpg" alt="Thrid sample image">
                  <a>
                    <div class="mask waves-effect waves-light"></div>
                  </a>
                </div>

                <!--Excerpt-->
                <a href="" class="teal-text text-center font-up font-small">
                </a>
                <h6 class="mb-3 mt-3 font-bold ">
                  <a href="" class="teal-text text-center font-up font-small">Travel
                  </a>
                  <a class="grey-text font-small"> - 14.09.2018</a>
                </h6>

                <h4 class="mb-3 font-up font-bold dark-grey-text spacing">
                  <strong>title of the news</strong>
                </h4>
                <p class="text-justify dark-grey-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                  atque corrupti quos dolores.Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                  quia consequuntur magni dolores eos qui ratione voluptatem.
                </p>

                <hr class="pb-0 mb-0">

                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-twitter grey-text"></i>
                </a>
                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-google-plus grey-text"></i>
                </a>
                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-linkedin grey-text"></i>
                </a>
                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-instagram grey-text"></i>
                </a>

                <hr class="pt-0 mt-0">
              </div>
              <!--Grid column-->

            </div>
            <!--/Grid row-->

            <!--Grid row-->
            <div class="row text-center">

              <!--Grid column-->
              <div class="col-md-6 mb-r">
                <!--Featured image-->
                <div class="view overlay hm-white-slight z-depth-1 mb-2">
                  <img src="https://mdbootstrap.com/img/Photos/Others/photo10.jpg" alt="Second sample image">
                  <a>
                    <div class="mask waves-effect waves-light"></div>
                  </a>
                </div>

                <!--Excerpt-->
                <a href="" class="teal-text text-center font-up font-small">
                </a>
                <h6 class="mb-3 mt-3 font-bold ">
                  <a href="" class="teal-text text-center font-up font-small">Travel
                  </a>
                  <a class="grey-text font-small"> - 14.09.2018</a>
                </h6>

                <h4 class="mb-3 font-up font-bold dark-grey-text spacing">
                  <strong>title of the news</strong>
                </h4>
                <p class="text-justify dark-grey-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                  atque corrupti quos dolores.Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                  quia consequuntur magni dolores eos qui ratione voluptatem.
                </p>

                <hr class="pb-0 mb-0">

                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-twitter grey-text"></i>
                </a>
                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-google-plus grey-text"></i>
                </a>
                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-linkedin grey-text"></i>
                </a>
                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-instagram grey-text"></i>
                </a>

                <hr class="pt-0 mt-0">
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-6 mb-r">
                <!--Featured image-->
                <div class="view overlay hm-white-slight z-depth-1 mb-2">
                  <img src="https://mdbootstrap.com/img/Photos/Others/photo11.jpg" alt="Thrid sample image">
                  <a>
                    <div class="mask waves-effect waves-light"></div>
                  </a>
                </div>

                <!--Excerpt-->
                <a href="" class="teal-text text-center font-up font-small">
                </a>
                <h6 class="mb-3 mt-3 font-bold ">
                  <a href="" class="teal-text text-center font-up font-small">Travel
                  </a>
                  <a class="grey-text font-small"> - 14.09.2018</a>
                </h6>

                <h4 class="mb-3 font-up font-bold dark-grey-text spacing">
                  <strong>title of the news</strong>
                </h4>
                <p class="text-justify dark-grey-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                  atque corrupti quos dolores.Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                  quia consequuntur magni dolores eos qui ratione voluptatem.
                </p>

                <hr class="pb-0 mb-0">

                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-twitter grey-text"></i>
                </a>
                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-google-plus grey-text"></i>
                </a>
                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-linkedin grey-text"></i>
                </a>
                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-instagram grey-text"></i>
                </a>

                <hr class="pt-0 mt-0">
              </div>
              <!--Grid column-->

            </div>
            <!--/Grid row-->

            <!--Grid row-->
            <div class="row text-center">

              <!--Grid column-->
              <div class="col-md-6 mb-r">
                <!--Featured image-->
                <div class="view overlay hm-white-slight z-depth-1 mb-2">
                  <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" alt="Second sample image">
                  <a>
                    <div class="mask waves-effect waves-light"></div>
                  </a>
                </div>

                <!--Excerpt-->
                <a href="" class="teal-text text-center font-up font-small">
                </a>
                <h6 class="mb-3 mt-3 font-bold ">
                  <a href="" class="teal-text text-center font-up font-small">Travel
                  </a>
                  <a class="grey-text font-small"> - 14.09.2018</a>
                </h6>

                <h4 class="mb-3 font-up font-bold dark-grey-text spacing">
                  <strong>title of the news</strong>
                </h4>
                <p class="text-justify dark-grey-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                  atque corrupti quos dolores.Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                  quia consequuntur magni dolores eos qui ratione voluptatem.
                </p>

                <hr class="pb-0 mb-0">

                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-twitter grey-text"></i>
                </a>
                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-google-plus grey-text"></i>
                </a>
                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-linkedin grey-text"></i>
                </a>
                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-instagram grey-text"></i>
                </a>

                <hr class="pt-0 mt-0">
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-6 mb-r">
                <!--Featured image-->
                <div class="view overlay hm-white-slight z-depth-1 mb-2">
                  <img src="https://mdbootstrap.com/img/Photos/Others/photo4.jpg" alt="Thrid sample image">
                  <a>
                    <div class="mask waves-effect waves-light"></div>
                  </a>
                </div>

                <!--Excerpt-->
                <a href="" class="teal-text text-center font-up font-small">
                </a>
                <h6 class="mb-3 mt-3 font-bold ">
                  <a href="" class="teal-text text-center font-up font-small">Travel
                  </a>
                  <a class="grey-text font-small"> - 14.09.2018</a>
                </h6>

                <h4 class="mb-3 font-up font-bold dark-grey-text spacing">
                  <strong>title of the news</strong>
                </h4>
                <p class="text-justify dark-grey-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                  atque corrupti quos dolores.Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                  quia consequuntur magni dolores eos qui ratione voluptatem.
                </p>

                <hr class="pb-0 mb-0">

                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-twitter grey-text"></i>
                </a>
                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-google-plus grey-text"></i>
                </a>
                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-linkedin grey-text"></i>
                </a>
                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-instagram grey-text"></i>
                </a>

                <hr class="pt-0 mt-0">
              </div>
              <!--Grid column-->

            </div>
            <!--/Grid row-->

            <!--Grid row-->
            <div class="row text-center">

              <!--Grid column-->
              <div class="col-md-6 mb-r">
                <!--Featured image-->
                <div class="view overlay hm-white-slight z-depth-1 mb-2">
                  <img src="https://mdbootstrap.com/img/Photos/Others/photo14.jpg" alt="Second sample image">
                  <a>
                    <div class="mask waves-effect waves-light"></div>
                  </a>
                </div>

                <!--Excerpt-->
                <a href="" class="teal-text text-center font-up font-small">
                </a>
                <h6 class="mb-3 mt-3 font-bold ">
                  <a href="" class="teal-text text-center font-up font-small">Travel
                  </a>
                  <a class="grey-text font-small"> - 14.09.2018</a>
                </h6>

                <h4 class="mb-3 font-up font-bold dark-grey-text spacing">
                  <strong>title of the news</strong>
                </h4>
                <p class="text-justify dark-grey-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                  atque corrupti quos dolores.Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                  quia consequuntur magni dolores eos qui ratione voluptatem.
                </p>

                <hr class="pb-0 mb-0">

                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-twitter grey-text"></i>
                </a>
                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-google-plus grey-text"></i>
                </a>
                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-linkedin grey-text"></i>
                </a>
                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-instagram grey-text"></i>
                </a>

                <hr class="pt-0 mt-0">
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-6 mb-r">
                <!--Featured image-->
                <div class="view overlay hm-white-slight z-depth-1 mb-2">
                  <img src="https://mdbootstrap.com/img/Photos/Others/laptop1.jpg" alt="Thrid sample image">
                  <a>
                    <div class="mask waves-effect waves-light"></div>
                  </a>
                </div>

                <!--Excerpt-->
                <a href="" class="teal-text text-center font-up font-small">
                </a>
                <h6 class="mb-3 mt-3 font-bold ">
                  <a href="" class="teal-text text-center font-up font-small">Travel
                  </a>
                  <a class="grey-text font-small"> - 14.09.2018</a>
                </h6>

                <h4 class="mb-3 font-up font-bold dark-grey-text spacing">
                  <strong>title of the news</strong>
                </h4>
                <p class="text-justify dark-grey-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                  atque corrupti quos dolores.Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                  quia consequuntur magni dolores eos qui ratione voluptatem.
                </p>

                <hr class="pb-0 mb-0">

                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-twitter grey-text"></i>
                </a>
                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-google-plus grey-text"></i>
                </a>
                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-linkedin grey-text"></i>
                </a>
                <a class="nav-link waves-effect waves-light">
                  <i class="fa fa-instagram grey-text"></i>
                </a>

                <hr class="pt-0 mt-0">
              </div>
              <!--Grid column-->

            </div>
            <!--/Grid row-->


          </section>
          <!--Section: Blog v.3-->


          <!--Pagination dark grey-->
          <nav class="mb-5 pb-2">
            <ul class="pagination pg-darkgrey flex-center">
              <!--Arrow left-->
              <li class="page-item">
                <a class="page-link waves-effect waves-effect" aria-label="Previous">
                  <span aria-hidden="true">«</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>

              <!--Numbers-->
              <li class="page-item active">
                <a class="page-link waves-effect waves-effect">1</a>
              </li>
              <li class="page-item">
                <a class="page-link waves-effect waves-effect">2</a>
              </li>
              <li class="page-item">
                <a class="page-link waves-effect waves-effect">3</a>
              </li>
              <li class="page-item">
                <a class="page-link waves-effect waves-effect">4</a>
              </li>
              <li class="page-item">
                <a class="page-link waves-effect waves-effect">5</a>
              </li>

              <!--Arrow right-->
              <li class="page-item">
                <a class="page-link waves-effect waves-effect" aria-label="Next">
                  <span aria-hidden="true">»</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
          <!--Pagination dark grey-->

        </div>
        <!--Main listing-->

      </div>
      <!--Blog-->

    </div>
  </section>
  <!--Blog section-->

  <!--Latest posts-->
  <section>
    <div class="container-fluid grey lighten-3 mb-0 pb-0">
      <div class="container">
        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-lg-4 col-md-12">
            <h6 class="font-bold mt-5 mb-3">ABOUT</h6>
            <hr class="mb-5">
            <img src="https://mdbootstrap.com/img/Photos/Slides/img (108).jpg" alt="sample image" class="img-fluid z-depth-1">
            <p class="mt-4 mb-5">Sed ut in perspiciatis unde omnis iste natus error sit on i tatem accusantium doloremque laudantium, totam rem
              aperiam, eaque ipsa quae.</p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6">
            <h6 class="font-bold mt-5 mb-3">LATESTS POSTS</h6>
            <hr class="mb-5">
            <!--Grid row-->
            <div class="row mt-4">

              <!--Grid column-->
              <div class="col-4">

                <!--Image-->
                <div class="view overlay hm-white-slight z-depth-1 mb-3">
                  <img src="https://mdbootstrap.com/img/Photos/Others/photo12.jpg" class="img-fluid" alt="Post">
                  <a>
                    <div class="mask waves-effect waves-light"></div>
                  </a>
                </div>

              </div>
              <!--Grid column-->

              <!--Second column-->
              <div class="col-8 mb-1">

                <!--Post data-->
                <div class="">
                  <p class="mb-1">
                    <a href="#!" class="text-hover font-bold">Sed ut in perspiciatis unde omnis</a>
                  </p>
                  <p class="font-small grey-text">
                    <em>July 22, 2017</em>
                  </p>
                </div>

              </div>
              <!--Second column-->

            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row">

              <!--Grid column-->
              <div class="col-4">

                <!--Image-->
                <div class="view overlay hm-white-slight z-depth-1 mb-3">
                  <img src="https://mdbootstrap.com/img/Photos/Others/photo11.jpg" class="img-fluid" alt="Post">
                  <a>
                    <div class="mask waves-effect waves-light"></div>
                  </a>
                </div>

              </div>
              <!--Grid column-->

              <!--Second column-->
              <div class="col-7 mb-1">

                <!--Post data-->
                <div class="">
                  <p class="mb-1">
                    <a href="#!" class="text-hover font-bold">At vero eos et accusamus et </a>
                  </p>
                  <p class="font-small grey-text">
                    <em>July 22, 2017</em>
                  </p>
                </div>

              </div>
              <!--Second column-->

            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row">

              <!--Grid column-->
              <div class="col-4">

                <!--Image-->
                <div class="view overlay hm-white-slight z-depth-1 mb-3">
                  <img src="https://mdbootstrap.com/img/Photos/Others/photo15.jpg" class="img-fluid" alt="Post">
                  <a>
                    <div class="mask waves-effect waves-light"></div>
                  </a>
                </div>

              </div>
              <!--Grid column-->

              <!--Second column-->
              <div class="col-7 mb-1">

                <!--Post data-->
                <div class="">
                  <p class="mb-1">
                    <a href="#!" class="text-hover font-bold">Nemo enim ipsam voluptatem</a>
                  </p>
                  <p class="font-small grey-text">
                    <em>July 22, 2017</em>
                  </p>

                </div>

              </div>
              <!--Second column-->

            </div>
            <!--Grid row-->

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6">
            <h6 class="font-bold mt-5 mb-3">OLDER POSTS</h6>
            <hr class="mb-5">
            <!--Grid row-->
            <div class="row mt-4">

              <!--Grid column-->
              <div class="col-4">

                <!--Image-->
                <div class="view overlay hm-white-slight z-depth-1 mb-3">
                  <img src="https://mdbootstrap.com/img/Photos/Others/photo1.jpg" class="img-fluid" alt="Post">
                  <a>
                    <div class="mask waves-effect waves-light"></div>
                  </a>
                </div>

              </div>
              <!--Grid column-->

              <!--Second column-->
              <div class="col-8 mb-1">

                <!--Post data-->
                <div class="">
                  <p class="mb-1">
                    <a href="#!" class="text-hover font-bold">Sed ut in perspiciatis unde omnis</a>
                  </p>
                  <p class="font-small grey-text">
                    <em>July 22, 2017</em>
                  </p>

                </div>

              </div>
              <!--Second column-->

            </div>
            <!--Grid row-->


            <!--Grid row-->
            <div class="row">

              <!--Grid column-->
              <div class="col-4">

                <!--Image-->
                <div class="view overlay hm-white-slight z-depth-1 mb-3">
                  <img src="https://mdbootstrap.com/img/Photos/Others/photo9.jpg" class="img-fluid" alt="Post">
                  <a>
                    <div class="mask waves-effect waves-light"></div>
                  </a>
                </div>

              </div>
              <!--Grid column-->

              <!--Second column-->
              <div class="col-7 mb-1">

                <!--Post data-->
                <div class="">
                  <p class="mb-1">
                    <a href="#!" class="text-hover font-bold">At vero eos et accusamus et </a>
                  </p>
                  <p class="font-small grey-text">
                    <em>July 22, 2017</em>
                  </p>

                </div>

              </div>
              <!--Second column-->

            </div>
            <!--Grid row-->


            <!--Grid row-->
            <div class="row">

              <!--Grid column-->
              <div class="col-4">

                <!--Image-->
                <div class="view overlay hm-white-slight z-depth-1 mb-3">
                  <img src="https://mdbootstrap.com/img/Photos/Others/photo4.jpg" class="img-fluid" alt="Post">
                  <a>
                    <div class="mask waves-effect waves-light"></div>
                  </a>
                </div>

              </div>
              <!--Grid column-->

              <!--Second column-->
              <div class="col-7 mb-1">

                <!--Post data-->
                <div class="">
                  <p class="mb-1">
                    <a href="#!" class="text-hover font-bold">Nemo enim ipsam voluptatem</a>
                  </p>
                  <p class="font-small grey-text">
                    <em>July 22, 2017</em>
                  </p>
                </div>

              </div>
              <!--Second column-->

            </div>
            <!--Grid row-->

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </div>
    </div>
  </section>
  <!--/Latest posts-->
</main>