<section>
  <div class="container-fluid">
    <img src="https://mdbootstrap.com/img/Photos/Others/nature3.jpg" class="img-fluid" alt="First sample image">
    <!--Excerpt-->
    <h1 class="text-center dark-grey-text pb-3" style="font-family: Raleway">
      <strong >Dom's</strong> Blog</h1>

    <p class="grey-text text-center mb-4 font-up spacing">Welcome to my blog. </p>

    <!--Grid row-->
    <div class="row flex-center">

      <!--Grid column-->
      <div class="col-md-10 col-xl-5">
        <p class="grey-text text-center">
          <em>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
            corrupti quos dolores.Nemo enim ipsam voluptatem quia voluptas. Nemo enim ipsam voluptatem quia voluptas sit
            aspernatur."
          </em>
        </p>
      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->
  </div>

<section class="container" [@goals]="goals.length">
  <div class="row">
  <div class="col-xs-6">
    <h5>Use this form below to add a new bucket list goal.</h5>
    <input type="text" class="txt" name="item" placeholder="Life goal.." [(ngModel)]="goalText">
    <br>
    <input type="submit" class="btn btn-teal lighten-4" value="{{ btnText }}" (click)="addItem()">
  </div>  
  <div class="col-xs-6 col-xs-offset-2">
    <h5>Your bucket list ({{ itemCount }})</h5>

    <p *ngFor="let goal of goals" (click)="removeItem(i)">
      {{goal}}
    </p> 
  </div>
</div>
</section>